@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background-image: url(assets/background.png);
    min-width: 1000px;
    max-width: 1000px;
    margin: auto;
    font-family: comfortaa;
    font-weight: normal;
}

div {
    font-family: comfortaa;
}

button {
    font-family: comfortaa;
}

input {
    font-family: comfortaa;
}

table {
    font-family: comfortaa;
}

th {
    font-family: comfortaa;
}

@font-face {
    font-family: comfortaa;
    src: url(assets/Comfortaa-Regular.ttf);
}
