.details-header {
    position: relative;
    margin-left: 28%;
    font-size: 20px;
    margin-top: 10px;
}

.products-header {
    position: relative;
    margin-left: 28%;
    font-size: 20px;
    margin-top: 15px;
}

.tables {
    display: flex;
}

.details-table {
    position: relative;
    width: 67%;
    margin-left: 15px;
    margin-top: 10px;
    border-collapse: collapse;
}

.details-table th {
    text-align: left;
}

.table-row {
    transition: background-color 0.3s;
}

.table-row:hover {
    background-color: #FFDAC1;
}

.table-row:nth-child(even) {
    background-color: #FFF6F0;
}

.table-row:nth-child(even):hover {
    background-color: #FFDAC1;
}

.detail-id {
    width: 8%;
    max-width: 8%;
    padding: 7px;
    white-space: pre-wrap;
    word-break: break-word;
    position: relative;
}

.detail-name {
    width: 20%;
    max-width: 20%;
    padding: 7px;
    white-space: pre-wrap;
    word-break: break-word;
    position: relative;
}

.detail-order {
    width: 20%;
    max-width: 20%;
    position: relative;
    padding: 7px;
    word-break: break-word;
}

.detail-ass-times {
    width: 20%;
    max-width: 20%;
    position: relative;
    padding: 7px;
    word-break: break-word;
    white-space: pre-wrap;
}

.order-product {
    white-space: pre-wrap;
    word-break: break-all;
    position: relative;
    max-width: 66%;
    width: 66%;
}

.input-form {
    margin-top: 10px;
    width: 265px;
    margin-left: 26px;
    padding-top: 7px;
}

.zakaz {
    font-size: 22px;
    margin: 20px 0 0 35%;
    position: relative
}

.main-div {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.for-table-products {
    position: relative;
    border-radius: 10px;
    padding: 10px 15px 15px 15px;
    width: 65%;
}

.products-table {
    position: relative;
    width: 67%;
    margin-left: 15px;
    margin-top: 10px;
    border-collapse: collapse;
}

.products-table th {
    text-align: left;
}

.product-id {
    width: 15%;
    max-width: 15%;
    padding: 7px;
    white-space: pre-wrap;
    word-break: break-word;
}

.product-name {
    width: 40%;
    max-width: 40%;
    padding: 7px;
    white-space: pre-wrap;
    word-break: break-word;
}

.product-details {
    width: 65%;
    max-width: 65%;
    padding: 7px;
    word-break: break-word;
}

.radio {
    margin: 15px 0 0 22%;
    font-size: 20px;
}

.build-button {
    position: relative;
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin: 20px 0 0 0;
}

.draw-button {
    position: relative;
    width: 500px;
    height: 50px;
    font-size: 18px;
    margin: 20px 0 0 0;
}

.draw-button-rule {
    position: relative;
    width: 500px;
    height: 50px;
    font-size: 18px;
    margin: 20px 0 0 0;
}

.build-batches-button {
    margin: 5px 0 0 calc(50% - 280px);
    width: 576px;
    height: 50px;
    font-size: 18px;
}

.rule-build-batches-button {
    margin: 5px 0 0 calc(50% - 280px);
    width: 576px;
    height: 50px;
    font-size: 18px;
}

.block-build-batches-button {
    margin: 5px 0 0 180px;
    width: 650px;
    height: 50px;
    font-size: 18px;
}

.vertical-line {
    height: 50px;
    width: 1px;
    color: red;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.add-order-button {
    position: relative;
    width: 200px;
    height: 40px;
    font-size: 16px;
}

.graph {
    position: relative;
    display: flex;
    margin-top: 25px;
}

.rule-graph {
    position: relative;
    display: flex;
    margin-top: 25px;
}

.graph-batch {
    position: relative;
    display: flex;
    margin-top: 25px;
}

.cost {
    margin-left: 36%;
    font-size: 18px;
}

.rule-graph-batch {
    position: relative;
    display: flex;
    margin-top: 25px;
}

.start-time {
    position: absolute;
    left: -92.3%;
    font-size: 18px;
    margin-top: 6px;
}

.end-time {
    position: absolute;
    right: 0;
    font-size: 18px;
    margin-top: 6px;
}

.duration-time {
    position: absolute;
    left: 0%;
    font-size: 18px;
    margin-top: 25px;
}

.rule-start-time {
    position: absolute;
    left: -92.3%;
    font-size: 18px;
    margin-top: 6px;
}

.rule-end-time {
    position: absolute;
    right: 0;
    font-size: 18px;
    margin-top: 6px;
}

.start-end-dur-times {
    font-size: 17px;
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
}

.rule-duration-time {
    position: absolute;
    left: 0%;
    font-size: 18px;
    margin-top: 25px;
}

.rule-batches-start-time {
    position: absolute;
    left: -92.3%;
    font-size: 18px;
    margin-top: 6px;
}

.rule-batches-end-time {
    position: absolute;
    right: 0;
    font-size: 18px;
    margin-top: 6px;
}

.rule-batches-duration-time {
    position: absolute;
    left: 0%;
    font-size: 18px;
    margin-top: 25px;
}

.all-graph {
    overflow-x: auto;
    display: none;
    margin-top: 15px;
    height: 210px;
}

.rule-all-graph {
    overflow-x: auto;
    display: none;
    margin-top: 15px;
    height: 221px;
}

.block-all-graph {
    overflow-x: auto;
    display: none;
    margin-top: 15px;
    height: 221px;
}

.batch-block {
    display: flex;
    height: 102px;
}

.rule-batch-block {
    display: flex;
    height: 102px;
}

.product-batch {
    height: 50px;
}

.detail-batch {
    height: 50px;
}

.mach-ass {
    padding: 15px;
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    margin-top: auto;
    font-size: 20px;
}

.rule-mach-ass {
    padding: 15px;
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    margin-top: auto;
    font-size: 20px;
}

.mach-batch {
    padding: 15px;
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    margin-top: 28px;
    font-size: 20px;
}

.rule-mach-batch {
    padding: 15px;
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    margin-top: 28px;
    font-size: 20px;
}

.product-id-header {
    font-size: 26px;
    margin: 33px 0 -10px 44%;
}

.rule-product-id-header {
    font-size: 26px;
    margin: 33px 0 -10px 44%;
}

.scale {
    display: none;
    position: relative;
    margin-left: 44%;
}

.rule-scale {
    display: none;
    position: relative;
    margin-left: 44%;
}

.block-scale {
    display: none;
    position: relative;
    margin-left: 44%;
}

.rule-batches-scale {
    display: none;
    position: relative;
    margin-left: 44%;
}

.word-scale {
    font-size: 21px;
    margin: 19px 10px 0 0;
    position: relative;
}

.numbers-in-blocks {
    padding-top: 3px;
    font-size: 14px;
    text-align: center;
}

.start-end-times {
    margin-top: 37px;
    font-size: 12px;
}

.dur-time {
    margin-top: 32px;
    font-size: 12px;
}

.rule-numbers-in-blocks {
    font-size: 20px;
    position: relative;
    margin: 0 0 0 48%;
    padding-top: 3px;
}

.rule-batches-numbers-in-blocks {
    font-size: 20px;
    position: relative;
    margin: 0 0 0 48%;
    padding-top: 3px;
}

.button-scale {
    margin: 10px;
    font-size: 25px;
}

.all-graph-batches {
    overflow-x: scroll;
    display: none;
    margin-top: 15px;
}

.batches-results {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    text-align: left;
}

.batches-results td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
}
.batches-results th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
}

.div-batches-results {
    padding: 25px;
    display: none;
}