<div class="main-div">



    <div style="display:flex">
          <!--   <div class="products-header">Изделия</div>
         <table class="products-table">
            <th>№</th>
            <th>Название</th>
            <th>Номера деталей</th>
            <th>Количество деталей</th>

            <tr class="table-row" *ngFor="let product of fileProducts">
                <td class="product-id">{{product.id}} </td>
                <td class="product-name"> {{product.name}}</td>
                <td class="product-details">
                    <div *ngFor="let detId of product.detailIds">{{detId}}</div>
                </td>
                <td class="product-details">
                    <div *ngFor="let count of product.detailsCount">{{count}}</div>
                </td>
            </tr>
        </table> -->
        <div class="input-form">
            <md-input-container>
                <input mdInput placeholder="№ изделия" [(ngModel)]="productId">
            </md-input-container><br>
            <md-input-container>
                <input mdInput placeholder="Количество изделий" [(ngModel)]="productsCount">
            </md-input-container><br>
            <md-input-container>
                <input mdInput placeholder="Допустимые издержки" [(ngModel)]="allowMachiningCost">
            </md-input-container><br>
            <button md-raised-button color="primary" (click)="addOrder()" class="add-order-button">Добавить в заказ</button>
            <div class="zakaz">Заказ</div>
            <table style="text-align:center;margin-left:-16px">
                <th>Номер изделия</th>
                <th>Количество</th>
                <th>Допустимые издержки</th>
                <tr *ngFor="let order of orders">
                    <td class="order-product">{{order.productId}}</td>
                    <td class="order-product">{{order.productsCount}}</td>
                    <td class="order-product">{{order.allowMachiningCost}}</td>
                </tr>
            </table>

        </div>
    </div>

     <!--  <div class="details-header">Детали</div>
    <table class="details-table">
        <th>№</th>
        <th>Название</th>
        <th>Порядок обработки</th>
        <th>Времена обработки</th>
        <th>Времена сборки</th>

        <tr class="table-row" *ngFor="let detail of details">
            <td class="detail-id">{{detail.id}} </td>
            <td class="detail-name"> {{detail.name}}</td>
            <td class="detail-order">
                <div *ngFor="let order of detail.machiningOrder">{{order}}</div>
            </td>
            <td class="detail-order">
                <div *ngFor="let order of detail.machiningTimes"></div>
            </td>
            <td class="detail-ass-times">{{detail.assemblingTimes}}</td>
        </tr>
    </table>-->
    <div class="buttons">
        <button md-raised-button color="accent" id="butt-build" disabled (click)="buildSchedule()" class="build-button">Рассчитать расписание</button>
        <button md-raised-button color="accent" id="butt-draw" (click)="drawGraph()" disabled class="draw-button">Построить диаграмму Гантта без решающих правил</button>
    </div>

    <div id="all-graph" class="all-graph">

        <div style="display:flex">
            <div class="mach-ass">Обработка</div>
            <div class="graph">
                <div *ngFor="let prBatch of productBatches">
                    <div class="product-batch" id="{{prBatch.product.id}}">

                        <div class="start-end-dur-times">
                            <div class="start-end-times">{{prBatch.machiningStartTime}}</div>
                            <div>
                                <div class="numbers-in-blocks">{{prBatch.product.id}}-{{prBatch.countOfProducts}}</div>
                                <div class="dur-time">{{prBatch.machiningDuration}}</div>
                            </div>
                            <div class="start-end-times">{{prBatch.machiningEndTime}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div style="display:flex">
            <div class="mach-ass">Сборка</div>
            <div class="graph">
                <div *ngFor="let prBatch of productBatches">
                    <div class="product-batch" id="ass-{{prBatch.product.id}}">
                        <div class="start-end-dur-times">
                            <div class="start-end-times">{{prBatch.assemblingStartTime}}</div>
                            <div>
                                <div class="numbers-in-blocks">{{prBatch.product.id}}</div>
                                <div class="dur-time">{{prBatch.assemblingDuration}}</div>
                            </div>
                            <div class="start-end-times">{{prBatch.assemblingEndTime}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="scale" class="scale">
        <div class="word-scale">Масштаб</div>
        <button md-mini-fab color="primary" class="button-scale" (click)="plusScale()"><md-icon>+</md-icon></button>
        <button md-mini-fab color="primary" class="button-scale" (click)="minusScale()"><md-icon>-</md-icon></button>
    </div>


    <div class="radio">
        <md-radio-group>
            <md-radio-button #r0 (change)="logRadio(r0)" value="0">All</md-radio-button>
            <md-radio-button #r1 (change)="logRadio(r1)" style="margin-left:10px" value="1">LUKR</md-radio-button>
            <md-radio-button #r2 (change)="logRadio(r2)" style="margin-left:10px" value="2">Inverse LUKR</md-radio-button>
            <md-radio-button #r3 (change)="logRadio(r3)" style="margin-left:10px" value="3">SPT</md-radio-button>
            <md-radio-button #r4 (change)="logRadio(r4)" style="margin-left:10px" value="4">MySort</md-radio-button>
            <md-radio-button #r5 (change)="logRadio(r5)" style="margin-left:10px" value="5">LPT</md-radio-button>

        </md-radio-group>
    </div>

    <div class="buttons">
        <button md-raised-button color="accent" id="butt-build-rule" disabled (click)="buildScheduleWithRule()" class="build-button">Рассчитать расписание</button>
        <button md-raised-button color="accent" id="butt-draw-rule" (click)="drawGraphRule()" disabled class="draw-button-rule">Построить диаграмму Гантта c решающими правилами</button>
    </div>

    <div id="rule-all-graph" class="rule-all-graph">
        <div class="cost">Затраты на переналадки: {{ruleMachiningCost}}</div>
        <div style="display:flex">
            <div class="rule-mach-ass">Обработка</div>
            <div class="rule-graph">
                <div *ngFor="let prBatch of productBatchesRule">
                    <div class="product-batch" id="rule-{{prBatch.product.id}}">

                        <div class="start-end-dur-times">
                            <div class="start-end-times">{{prBatch.machiningStartTime}}</div>
                            <div>
                                <div class="numbers-in-blocks">{{prBatch.product.id}}-{{prBatch.countOfProducts}}</div>
                                <div class="dur-time">{{prBatch.machiningDuration}}</div>
                            </div>
                            <div class="start-end-times">{{prBatch.machiningEndTime}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div style="display:flex">
            <div class="rule-mach-ass">Сборка</div>
            <div class="rule-graph">
                <div *ngFor="let prBatch of productBatchesRule">
                    <div class="product-batch" id="rule-ass-{{prBatch.product.id}}">
                        <div class="start-end-dur-times">
                            <div class="start-end-times">{{prBatch.assemblingStartTime}}</div>
                            <div>
                                <div class="numbers-in-blocks">{{prBatch.product.id}}</div>
                                <div class="dur-time">{{prBatch.assemblingDuration}}</div>
                            </div>
                            <div class="start-end-times">{{prBatch.assemblingEndTime}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="rule-scale" class="rule-scale">
        <div class="word-scale">Масштаб</div>
        <button md-mini-fab color="primary" class="button-scale" (click)="plusScaleRule()"><md-icon>+</md-icon></button>
        <button md-mini-fab color="primary" class="button-scale" (click)="minusScaleRule()"><md-icon>-</md-icon></button>
    </div>







    <div class="buttons">
        <button md-raised-button color="accent" id="butt-build-block" disabled (click)="buildScheduleWithBlock()" class="build-button">Рассчитать расписание</button>
        <button md-raised-button color="accent" id="butt-draw-block" (click)="drawGraphBlock()" disabled class="draw-button-rule">Построить диаграмму Гантта с блочным разбиением</button>
    </div>

    <div id="block-all-graph" class="block-all-graph">
        <div class="cost">Затраты на переналадки: {{blockMachiningCost}}</div>
        <div style="display:flex">
            <div class="rule-mach-ass">Обработка</div>
            <div class="rule-graph">
                <div style="display:flex" *ngFor="let prBatch of productBatchesBlock">
                    <div style="display:flex" *ngFor="let machDur of prBatch.machiningDurations;let j=index">
                        <div class="product-batch" id="block-{{prBatch.product.id}}-{{j}}">
                            <div class="start-end-dur-times">
                                <div>
                                    <div *ngIf="j==0" class="start-end-times">{{prBatch.machiningStartTime}}</div>
                                </div>
                                <div>
                                    <div *ngIf="j!=prBatch.machiningDurations.length-1" class="numbers-in-blocks">{{prBatch.product.id}}-{{prBatch.productsCountInBatch[0]}}</div>
                                    <div *ngIf="j==(prBatch.machiningDurations.length-1)&&prBatch.machiningDurations.length!=1" class="numbers-in-blocks">{{prBatch.product.id}}-{{prBatch.productsCountInBatch[1]}}</div>
                                    <div *ngIf="prBatch.machiningDurations.length==1" class="numbers-in-blocks">{{prBatch.product.id}}-{{prBatch.countOfProducts}}</div>

                                    <div class="dur-time">{{prBatch.machiningDurations[j]}}</div>
                                </div>
                                <div>
                                    <div *ngIf="j==prBatch.machiningDurations.length-1" class="start-end-times">{{prBatch.machiningEndTime}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-line"></div>
                    </div>

                </div>
            </div>
        </div>
        <div style="display:flex">
            <div class="rule-mach-ass">Сборка</div>
            <div class="rule-graph">
                <div *ngFor="let prBatch of productBatchesBlock">
                    <div style="display:flex">
                        <div style="display:flex" *ngFor="let dur of prBatch.assemblingDurations;let j=index">
                            <div class="product-batch" id="block-ass-{{prBatch.product.id}}-{{j}}">
                                <div style="margin-top:0" class="start-end-dur-times">
                                    <div>
                                        <div *ngIf="j==0" class="start-end-times">{{prBatch.assemblingStartTimes[j]}}</div>
                                    </div>
                                    <div>
                                        <div class="numbers-in-blocks">{{prBatch.product.id}}</div>
                                        <div class="dur-time">{{prBatch.assemblingDurations[j]}}</div>
                                    </div>
                                    <div>
                                        <div *ngIf="j==prBatch.machiningDurations.length-1" class="start-end-times">{{prBatch.assemblingEndTimes[j]}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-line"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div id="block-scale" class="block-scale">
        <div class="word-scale">Масштаб</div>
        <button md-mini-fab color="primary" class="button-scale" (click)="plusScaleBlock()"><md-icon>+</md-icon></button>
        <button md-mini-fab color="primary" class="button-scale" (click)="minusScaleBlock()"><md-icon>-</md-icon></button>
    </div>






    <br>
    <button md-raised-button color="accent" id="butt-draw-batches" (click)="drawBatchesGraph()" disabled class="build-batches-button">Построить диаграммы Гантта для партий деталей (без правил)</button>
    <div style="display:none" id="all-graph-batches">

        <div *ngFor="let prBatch of productBatches">
            <div class="product-id-header">Изделие {{prBatch.product.id}}</div>
            <div style="overflow-x:auto">
                <div *ngFor="let tool of prBatch.detailsBatchesGroups[0].detailsBatches[0].startTimes; let i=index">
                    <div class="batch-block">
                        <div class="mach-batch">Станок {{i+1}}</div>
                        <div class="graph-batch">

                            <div *ngFor="let detBatch of prBatch.detailsBatchesGroups[0].detailsBatches">
                                <div class="detail-batch" id="{{prBatch.product.id}}-{{i}}-{{detBatch.detail.id}}">
                                    <div class="start-end-dur-times">
                                        <div class="start-end-times">{{detBatch.startTimes[i]}}</div>
                                        <div>
                                            <div id="numbers-in-blocks-{{prBatch.product.id}}-{{i}}-{{detBatch.detail.id}}" class="numbers-in-blocks">{{detBatch.detail.id}}-{{detBatch.countOfDetails}}</div>
                                            <div class="dur-time">{{detBatch.machiningDurations[i]}}</div>
                                        </div>
                                        <div class="start-end-times">{{detBatch.endTimes[i]}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="scale-{{prBatch.product.id}}" class="scale">
                <div id="scale-{{prBatch.product.id}}" class="word-scale">Масштаб</div>
                <button md-mini-fab color="primary" class="button-scale" (click)="plusBatchScale(prBatch.product.id)"><md-icon>+</md-icon></button>
                <button md-mini-fab color="primary" class="button-scale" (click)="minusBatchScale(prBatch.product.id)"><md-icon>-</md-icon></button>
            </div>
        </div>
    </div>

    <button md-raised-button color="accent" id="rule-butt-draw-batches" (click)="drawBatchesGraphRule()" disabled class="rule-build-batches-button">Построить диаграммы Гантта для партий деталей (с правилами)</button>
    <div style="display:none" id="rule-all-graph-batches">
        <div *ngFor="let prBatch of productBatchesRule">
            <div class="rule-product-id-header">Изделие {{prBatch.product.id}}</div>
            <div style="overflow-x:auto">
                <div *ngFor="let tool of prBatch.detailsBatchesGroups[0].detailsBatches[0].startTimes; let i=index">
                    <div class="rule-batch-block">
                        <div class="rule-mach-batch">Станок {{i+1}}</div>
                        <div class="rule-graph-batch">

                            <div *ngFor="let detBatch of prBatch.detailsBatchesGroups[0].detailsBatches">
                                <div class="detail-batch" id="rule-{{prBatch.product.id}}-{{i}}-{{detBatch.detail.id}}">
                                    <div class="start-end-dur-times">
                                        <div class="start-end-times">{{detBatch.startTimes[i]}}</div>
                                        <div>
                                            <div id="rule-numbers-in-blocks-{{prBatch.product.id}}-{{i}}-{{detBatch.detail.id}}" class="numbers-in-blocks">{{detBatch.detail.id}}-{{detBatch.countOfDetails}}</div>
                                            <div class="dur-time">{{detBatch.machiningDurations[i]}}</div>
                                        </div>
                                        <div class="start-end-times">{{detBatch.endTimes[i]}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="rule-scale-{{prBatch.product.id}}" class="rule-batches-scale">
                <div id="rule-scale-{{prBatch.product.id}}" class="word-scale">Масштаб</div>
                <button md-mini-fab color="primary" class="button-scale" (click)="plusBatchScaleRule(prBatch.product.id)"><md-icon>+</md-icon></button>
                <button md-mini-fab color="primary" class="button-scale" (click)="minusBatchScaleRule(prBatch.product.id)"><md-icon>-</md-icon></button>
            </div>
        </div>
    </div>



    <button md-raised-button color="accent" id="block-butt-draw-batches" (click)="drawBatchesGraphBlock()" disabled class="block-build-batches-button">Построить диаграммы Гантта для партий деталей с блочным разбиением</button>
    <div style="display:none" id="block-all-graph-batches">
        <div *ngFor="let prBatch of productBatchesBlock">
            <div class="rule-product-id-header">Изделие {{prBatch.product.id}}</div>
            <div style="overflow-x:auto">
                <div *ngFor="let tool of prBatch.detailsBatchesGroups[0].detailsBatches[0].startTimes; let i=index">
                    <div class="rule-batch-block">
                        <div class="rule-mach-batch">Станок {{i+1}}</div>
                        <div class="rule-graph-batch">

                            <div *ngFor="let detBatch of prBatch.detailsBatchesGroups[0].detailsBatches">
                                <div class="detail-batch" id="block-{{prBatch.product.id}}-{{i}}-{{detBatch.detail.id}}">
                                    <div class="start-end-dur-times">
                                        <div class="start-end-times">{{detBatch.startTimes[i]}}</div>
                                        <div>
                                            <div id="block-numbers-in-blocks-{{prBatch.product.id}}-{{i}}-{{detBatch.detail.id}}" class="numbers-in-blocks">{{detBatch.detail.id}}-{{detBatch.countOfDetails}}</div>
                                            <div class="dur-time">{{detBatch.machiningDurations[i]}}</div>
                                        </div>
                                        <div class="start-end-times">{{detBatch.endTimes[i]}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="block-scale-{{prBatch.product.id}}" class="rule-batches-scale">
                <div id="block-scale-{{prBatch.product.id}}" class="word-scale">Масштаб</div>
                <button md-mini-fab color="primary" class="button-scale" (click)="plusBatchScaleBlock(prBatch.product.id)"><md-icon>+</md-icon></button>
                <button md-mini-fab color="primary" class="button-scale" (click)="minusBatchScaleBlock(prBatch.product.id)"><md-icon>-</md-icon></button>
            </div>
        </div>
    </div>
    <br>
    <button md-raised-button color="primary" class="rule-build-batches-button" id="table-results-rule" disabled (click)="showBatchesResult()">Показать результаты для партий изделий</button>
    <div id="div-batches-results" class="div-batches-results">
        <table id="batches-results" class="batches-results">
            <tr>
                <th>Номер изделия</th>
                <th>Кол-во изделий</th>
                <th>Стоимость производства</th>
                <th>Время начала обработки</th>              
                <th>Время конца обработки</th>
                <th>Время начала сборки</th>              
                <th>Время конца сборки</th>
            </tr>
            <tr *ngFor="let prBatch of productBatchesRule ">
                <td>{{prBatch.product.id}}</td>
                <td>{{prBatch.countOfProducts}}</td>
                <td>{{prBatch.cost}}</td>
                <td>{{prBatch.machiningStartTime}}</td>
                <td>{{prBatch.machiningEndTime}}</td>
                <td>{{prBatch.assemblingStartTime}}</td>
                <td>{{prBatch.assemblingEndTime}}</td>
            </tr>
        </table>
    </div>
</div>